#scrollBillBoard img {
    --width: 10%;
    width: var(--width);
    position: absolute;
    left: 0%;
    animation-name: scrollSide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scrollBillBoard{
    border: 2px solid black;
    height: 100px;
}


@keyframes scrollSide{
    from{
        left: 0%;
    }
    to{
        left: 110%;
    }
}